@charset "utf-8";

.whole {
	margin: auto;
	width: 60%;
	border: 1px solid #0000FF;
	text-align: center;
	background-color: #F0F0FF;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	margin: auto;
	color: white;
}

img {
	border: 1px solid #F0F0FF;
}

.info {
	width: 80%;
	margin: auto;
}

.collapsible {
	background-color: #006;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.active, .collapsible:hover {
	background-color: #338
}

.content {
	padding: 0 18px;
	background-color: #33C;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	margin: auto;
}

.rules {
	border: hidden;
}

h1 {
	color: blue;
	font-size: 50px;
}

h3, p {
	color: white;
}
